@import '~assets/scss/colors';
@import '~assets/scss/mixins';

button {
  outline: none !important;
}

.btn-archetype {
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;

  &:hover::after, &.active::after, &.active {
    font-weight: bold;
    width: 100%;
  }

  &::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: white;
    transition: 300ms;
  }
}


.btn-backwards {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  min-height: 46px;
  width: auto;

  i {
    font-size: 23px;
  }

  h6 {
    margin: 0 10px;
  }

  @include min-width-992 {
    justify-content: center;
  }
}

.btn-attributes {
  background-color: transparent;
  border: none;
  height: 46px;
  min-height: 46px;
}
