@import '~assets/scss/colors';
@import '~assets/scss/mixins';

button {
  outline: none !important;
}

.btn-orange {
  align-items: center;
  background-color: $orange-yellow;
  border: none;
  color: $ghost-white;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  min-height: 46px;
  height: 46px;
  transition: all 0.7s;
  justify-content: center;
  text-align: center;

  &:hover {
    background-color: $tenne-tawny;
  }

  i {
    font-size: 21px;
  }

  span {
    font-size: 11px;
    text-transform: uppercase;
  }
}

.btn-toggle {
  background-color: transparent;
  border: none;
  position: absolute;

  i {
    font-size: 25px;
  }
}
