@import '~assets/scss/colors';
@import '~assets/scss/mixins';

button {
  outline: none !important;
  box-shadow: none !important;
}

.btn-bottom-nav {
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  justify-content: center;
  width: 50%;

  i {
    font-size: 20px;
    margin-bottom: 3px;
  }

  span {
    font-size: 11px;
    text-transform: uppercase;
  }
}

.btn-menu-nav {
  background-color: transparent;
  border: none;

  i {
    font-size: 18px;
    margin: 0;
  }
}

.btn-close-nav {
  background-color: transparent;
  border: none;
  color: white;
  right: 10px;
  top: 6px;
  position: absolute;

  i {
    font-size: 18px;
    margin: 0;
  }
}


@include min-width-992 {
  .btn-menu-nav {
    i {
      font-size: 23px;
    }
  }
}
