$primary: #26FFDF;
$primary-dark: #08A696;
$secondary: #025159;
$secondary-dark: #011C26;
$theme-red: #FF2C10;
$theme-orange: #F26A1B;
$material-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
