$jl-white: #ecf0f1;
$jl-black: #34495e;
$jl-grey: #575757;
$jl-blue-1: #07074A;
$jl-blue-2: #01CCFF;
$jl-blue-3: #45aaf2;
$custom-danger: #d9534f;
$custom-primary: #0275d8;
$custom-success: #5cb85c;
$custom-warning: #f0ad4e;
$custom-info: #563d7c;
$pure-black: black;
$social-twitter: #00acee;
$social-linkedin: #0e76a8;
$social-github: #171515;

.bg-jl-black {
  background-color: #2c3e50;
}

.bg-jl-white {
  background-color: #ecf0f1;
}

.txt-grey {
  color: $jl-grey !important;
}

.txt-shadow {
  text-shadow: 1px 1px 2px #000000;
}

.fa-twitter {
  color: $social-twitter !important;
}

.fa-linkedin-square {
  color: $social-linkedin !important;
}

.fa-github-square {
  color: $social-github !important;
}
