@import '~assets/scss/colors';
@import '~assets/scss/mixins';
/*Common Styles*/

/**/

/* Input properties */

/*Nav Links Dropdown Style*/
.links-dropdown {
  height: fit-content;
  list-style-type: none;
  width: 100%;

  .btn-drop-toggle {
    align-items: center;
    background-color: white;
    border: none;
    display: flex;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    height: 36px;
    justify-content: space-between;
    width: 100%;
    padding: 0 11px;
    text-transform: uppercase;

    span {
      font-size: 13px;
    }

    i {
      font-size: 15px;
    }
  }

  .btn-drop-toggle.active, .btn-drop-toggle:hover {
    background-color: $flame;
    color: white;
  }

  .btn-drop-toggle:hover {
    i {
      transition: all 0.5s;
      transform: rotate(90deg);
    }
  }

  .links .nav-link {
    align-items: center;
    display: flex;
    height: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0;
    transition: height 0.5s;
    overflow: hidden;
    opacity: 0;
    padding: 0;
  }

  .links.show .nav-link {
    opacity: 1;
    height: 36px;
  }

  .links .nav-link.active {
    color: $flame;
  }
}

/**/
