@import '~assets/scss/colors';
@import '~assets/scss/mixins';

.profile-content {
  align-items: center;
  background-color: white;
  position: relative;
  max-width: none;
  z-index: 8;
  width: 100%;

  @include min-width-992 {
    width: 70%;
  }
}

.profile-component-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.profile-img {
  width: 100%;
  max-width: none;
  max-height: 300px;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  z-index: 7;

  img {
    position: relative;
    width: 100%;
    right: 0;
    height: 600px;
    @include min-width-992 {
      position: absolute;
      right: 0;
      z-index: 7;
      height: auto;
      max-height: 100vh;
      width: auto;
    }
  }

  @include min-width-992 {
    max-width: 30%;
    max-height: 100vh;
    /* &:after {
      content: '';
      width: 18%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      z-index: 7;
      transform: skewX(-5deg);
      transform-origin: 0 0;
    } */
  }
}
