@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.txt-xsm {
  font-size: 12px;
}

.txt-sm {
  font-size: 16px;
}

.txt-md {
  font-size: 22px;
}

.fxt-lg {
  font-size: 33px;
}
