.container-fluid, .row {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  background-image: url('~assets/img/per.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 60px;
}
