<nav class="nav-top">
  <button type="button" class="btn-menu-nav menu-toggle">
    <i class="fa fa-bars"></i>
  </button>
</nav>
<div class="nav-menu">
  <button class="btn-close-nav menu-toggle">
    <i class="fa fa-close"></i>
  </button>
  <div class="row no-gutters nav-menu-content">
    <div class="profile-photo">
      <img src="./assets/img/photos/profile-img.jpg" alt="profile-photo">
    </div>
    <div class="profile-names">
      <h5>Jean Lui Ferrer</h5>
      <h6>Front End Developer</h6>
    </div>
    <span class="nav-link-tittle">
        Perfil profesional
      </span>
    <div class="nav-links">
      <button type="button" class="nav-link"
              [routerLink]="['/jeanlui/profesional/experiencias']"
              [routerLinkActive]="'active'">
        Experiencia Laboral
      </button>
      <button type="button" class="nav-link"
              [routerLink]="['/jeanlui/profesional/informacion']"
              [routerLinkActive]="'active'">
        Información
      </button>
      <button type="button" class="nav-link"
              [routerLink]="['/jeanlui/profesional/proyectos']"
              [routerLinkActive]="'active'">
        Proyectos
      </button>
    </div>
    <span class="nav-link-tittle">
        Perfil personal
      </span>
    <div class="nav-links">
      <button type="button" class="nav-link"
              [routerLink]="['/jeanlui/personal/hobbies']"
              [routerLinkActive]="'active'">
        Hobbies
      </button>
    </div>
  </div>
</div>
<nav class="nav-bottom">
  <button type="button" class="btn-bottom-nav">
    <i class="fa fa-briefcase"></i>
    <span>Proyectos</span>
  </button>
  <button type="button" class="btn-bottom-nav menu-toggle">
    <i class="fa fa-bars"></i>
    <span>Menú</span>
  </button>
</nav>
