<nav class="lui-nav shadow">
  <button class="btn menu btn-nav-item" [class.active]="routing.url.includes('profesional') || routing.url.includes('personal')">
    <i class="fa fa-bars"></i>
    <span>Perfíl/Carácteristicas</span>
  </button>
  <div class="sub-title">
    <span>Profesional</span>
  </div>
  <ul class="profile-links">
    <li [routerLink]="['/jeanlui/profesional/experiencias']" [routerLinkActive]="'active'"><span>Experiencias</span></li>
    <li [routerLink]="['/jeanlui/profesional/informacion']" [routerLinkActive]="'active'"><span>Resumen Profesional</span></li>
    <li [routerLink]="['/jeanlui/profesional/tecnologias']" [routerLinkActive]="'active'"><span>Tecnologias</span></li>
  </ul>
  <div class="sub-title">
    <span>Personal</span>
  </div>
  <ul class="profile-links">
    <li><span>Resumen Personal</span></li>
    <li [routerLink]="['/jeanlui/personal/hobbies']" [routerLinkActive]="'active'"><span>Proyectos personales</span></li>
  </ul>
  <button class="btn btn-nav-item" [routerLink]="['/jeanlui/proyectos']" [routerLinkActive]="'active'">
    <i class="fa fa-briefcase"></i>
    <span>Proyectos</span>
  </button>
  <button class="btn btn-nav-item">
    <i class="fa fa-phone"></i>
    <span>Contacto</span>
  </button>

  <!-- <button class="btn home btn-nav-item ">
    <i class="fa fa-arrow-circle-left"></i>
    <span>Ir a inicio</span>
  </button> -->
</nav>
