@import '~assets/scss/colors';
@import '~assets/scss/mixins';


.btn-nav-item {

  height: 100%;
  width: 100%;

  align-items: center;
  border-radius: 0;
  color: $secondary;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;

  &:hover, &:active, &.active {
    background-color: $secondary-dark;
    color: $primary-dark;
  }

  span {
    display: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.9px;
  }
}

.lui-nav {

  height: 0;
  width: 100%;

  animation: mobile-animations;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  background-color: $primary;
  bottom: 0;
  display: flex;
  position: absolute;
  z-index: 9;
}

.lui-nav.show {
  animation: height-mobile-transition;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  flex-direction: column;
  justify-content: flex-start;
}

.lui-nav.show .btn-nav-item {

  height: 58px;

  justify-content: flex-start;
  padding: 0 0 0 28px;

  i, .profile-img {
    margin: 0 18px 0 0;
  }

  span {
    display: block;
    text-transform: uppercase;
  }
}

.lui-nav.show .btn.menu {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.lui-nav.show .profile-links {
  height: 114px;

  display: flex;
}

.lui-nav.show .sub-title {
  display: flex;
}

.profile-links {
  height: 0;

  display: none;
  flex-direction: column;
  margin: 0 0 15px 0;
  list-style-type: none;
  padding: 0;
  transition: height 0.3s ease-out;
}

.profile-links li {
  height: 38px;

  align-items: center;
  color: $secondary;
  display: flex;
  position: relative;
  padding: 0 0 0 40px;
  z-index: 8;


  &:hover, &.active {
    background-color: $primary-dark;
    color: white;
  }
}

.profile-links li span {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.6px;
  margin-left: 22px;

  &:before {
    height: 100%;

    content: '';
    border-left: 3px solid;
    bottom: 0;
    position: absolute;
    left: 39px;
    z-index: -1;
  }

  &:after {
    height: 100%;

    content: '●';
    border-left: none;
    bottom: 0;
    font-size: 23px;
    position: absolute;
    left: 34px;
    z-index: -1;
  }
}

.sub-title {
  height: 38px;

  align-items: center;
  background-color: $primary-dark;
  color: white;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display: none;
  padding: 0 0 0 28px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

@include min-width-992 {

  .btn-nav-item {
    height: 58px;

    justify-content: normal;
    padding: 0 0 0 28px
  }

  .btn.home {
    font-size: 20px;
    position: absolute;
    top: 0;

    span {
      font-size: 12px;
    }
  }

  .lui-nav {
    height: 100vh;
    width: 76px;

    animation: none;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease-out;
  }

  .lui-nav.show {
    width: 328px;
    height: 100vh;

    animation: none;
    border-radius: 0;
    justify-content: center;
  }

  .lui-nav.show .btn.menu {
    border-radius: 0;
  }

  .profile-links li.active {
    background-color: $primary-dark;
    z-index: 9;
    width: 100%;

    &:after,
    &:after {
      z-index: -1;
      position: absolute;
      right: -19px;
      content: '';
      width: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid $primary-dark;
      border-bottom: 50px solid transparent;
      border-width: 19px;
    }
  }
}

@keyframes mobile-animations {
  0% {
    height: 0;
  }

  100% {
    height: 76px;
  }
}

@keyframes height-mobile-transition {
  3% {
    height: 0;
  }

  100% {
    height: 80vh;
  }
}
