<nav class="top-nav">
  <button type="button" class="btn-toggle toggle-menu">
    <i class="fa fa-bars"></i>
  </button>
</nav>

<nav class="bottom-nav">
  <button type="button" class="btn-orange" [routerLink]="['profesional/proyectos']">
    <i class="fa fa-briefcase"></i>
    <span>Proyectos</span>
  </button>
  <button type="button" class="btn-orange toggle-menu">
    <i class="fa fa-list-ul"></i>
    <span>Menú</span>
  </button>
</nav>

<div class="nav-menu-container">
  <button type="button" class="btn-toggle toggle-menu">
    <i class="fa fa-close"></i>
  </button>
  <h4>Perfiles:</h4>
  <hr>
  <li class="links-dropdown">
    <button class="btn-drop-toggle" [ngClass]="{'active': routing.url.includes('personal')}" id="personal">
      <span>Personal</span>
      <i class="fa fa-caret-square-o-right"></i>
    </button>
    <ul class="links">
      <li class="nav-link" [routerLink]="['personal/hobbies']" routerLinkActive="active"><span>Hobbies</span></li>
    </ul>
  </li>
  <li class="links-dropdown">
    <button class="btn-drop-toggle" [ngClass]="{'active': routing.url.includes('profesional')}" id="professional">
      <span>Profesional</span>
      <i class="fa fa-caret-square-o-right"></i>
    </button>
    <ul class="links">
      <li class="nav-link" [routerLink]="['profesional/informacion']" routerLinkActive="active">
        <span>Información</span></li>
      <li class="nav-link" [routerLink]="['profesional/tecnologias']" routerLinkActive="active">
        <span>Técnologias</span></li>
      <li class="nav-link" [routerLink]="['profesional/proyectos']" routerLinkActive="active"><span>Proyectos</span>
      </li>
      <li class="nav-link" [routerLink]="['profesional/experiencias']" routerLinkActive="active">
        <span>Experiencias</span>
      </li>
    </ul>
  </li>
</div>
