<div class="title-container">
  <div class="container">
    <h3 class="asap text-white fz-35 txt-shadow">Proyectos</h3>
  </div>
</div>
<div class="description-container shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 description-content text-center mb-3">
        <p class="asap fz-16 m-0">Los siguientes proyectos fueron realizados de forma independiente. Empezando
          con proyectos designados de la carrera y avanzando luego con aprendizaje propio.</p>
      </div>
      <div class="col-12 col-lg-6 text-center mt-lg-4">
        <h3 class="fz-20 my-0">Filtrar por tecnologias:</h3>
        <div class="w-100 my-3 buttons-container">
          <div class="btn-group-toggle d-inline" data-toggle="buttons">
            <label class="btn btn-custom-danger shadow-none mx-lg-1">
              <input type="checkbox">ANGULAR
            </label>
            <label class="btn btn-custom-success shadow-none mx-lg-1">
              <input type="checkbox"> VUE.JS
            </label>
            <label class="btn btn-custom-info shadow-none mx-lg-1">
              <input type="checkbox"> BOOTSTRAP
            </label>
            <label class="btn btn-custom-warning shadow-none mx-lg-1">
              <input type="checkbox"> API
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center mt-4">
        <h3 class="fz-20 my-0">Filtrar por nombre:</h3>
        <div class="w-100 my-3">
          <div class="input-group w-100">
            <input type="text" class="form-control custom-input shadow-none w-75" placeholder="Nombre de proyecto">
            <div class="input-group-append w-25">
              <button class="btn btn-outline-secondary custom-input p-0 shadow-none w-100" type="button"
                      id="button-addon2">
                <i class="fa fa-search fz-16"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projects-container">

</div>
