  <div class="title-container">
    <div class="container">
      <h3 class="asap text-white fz-35 txt-shadow">Proyectos</h3>
    </div>
  </div>
  <div class="description-container shadow-sm">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 pr-lg-5">
          <h3 class="asap bold txt-grey fz-20 mb-4">Opciones:</h3>
          <div class="input-container mr-md-5">
            <span class="asap fz-16 txt-grey mr-2">Tecnologia:</span>
            <div class="input-group bs-select">
              <select class="custom-select">
                <option selected>Seleccionar</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="input-container">
            <span class="asap fz-16 txt-grey mr-2">Tiempo:</span>
            <div class="input-group bs-select">
              <select class="custom-select">
                <option selected>Seleccionar</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 description-content text-justify">
          <h6 class="asap fz-18 m-0">Los siguientes proyectos fueron realizados de forma independiente. Empezando
            con proyectos designados de la carrera y avanzando luego con aprendizaje propio.</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-container">

  </div>
