@import '~assets/scss/mixins';

.container-fluid, .row {
  padding: 0;
  margin: 0;
}

.fa {
  margin-bottom: 12px;
  font-size: 25px !important;
}

.photo-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  max-height: 50vh;
}

.description-container {
  background-color: white;
  min-height: 50vh;
  max-height: none;
  width: 100%;
  display: flex;
  align-items: center;
  @include min-width-992 {
    max-height: 50vh;
  }
}

.own-character {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;

  @include min-width-992 {
    max-height: 150px;
    max-width: 150px;
  }
}

