<div class="vh-100 container-fluid">
  <img class="position-absolute img-header" src="./assets/img/2.jpg" alt="img-header">
  <div class="row h-100 animate__animated animate__slideInLeft">
    <div class="col-12 col-lg-8 principal-content">
      <div class="content pl-xl-1">
        <h1 class="fz-60 roboto-medium">Jean Lui Ferrer</h1>
        <p class="fz-20 roboto-regular my-3">Desarrollador Front-End con diversas experiencias en el desarrollo web y
          dispuesto para aprender de las nuevas tecnologias.</p>
        <div class="contact-info">
          <img class="img-profile border rounded-circle mr-3" src="./assets/img/profile.jpg" alt="profile-img">
          <span class="roboto-regular font-weight-lighter fz-14">Diciembre 10, 2020</span>
          <div class="contact-info-links">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-phone"></i>
            <i class="fa fa-github-square"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
