@import '~assets/scss/mixins';

.container-fluid, .row {
  padding: 0;
  margin: 0;
}

.fa {
  margin-bottom: 12px;
  font-size: 25px !important;
}

.photo-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  max-height: 50vh;
}

.collage-container {
  position: relative;
  min-height: 300px;
}

.description-container {
  background-color: white;
  min-height: 50vh;
  max-height: none;
  width: 100%;
  display: flex;
  align-items: center;
  @include min-width-992 {
    max-height: 60vh;
    height: 60vh;
  }
}

.tech-container {
  background-color: white;
  max-height: none;
  width: 100%;
  display: flex;
  align-items: center;
  @include min-width-992 {
    max-height: 40vh;
    height: calc(40vh - 58px);
  }
}

.tech-container {
  background-color: white;
  max-height: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include min-width-992 {
    max-height: 40vh;
    height: calc(40vh - 58px);
  }

  .tech-logo-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @include min-width-992 {
      flex-direction: row;
    }
  }

  .tech-logo {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-out !important;

    @include min-width-992 {
      &:hover {
        box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);
      }
    }
  }
}

.contact-container {
  background-color: white;
  max-height: none;
  width: 100%;
  display: flex;
  align-items: center;
  @include min-width-992 {
    max-height: 30vh;
    height: 30vh;
  }
}

.own-character {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;

  @include min-width-992 {
    max-height: 150px;
    max-width: 150px;
  }
}

