  <div class="photo-container">
    <img src="./assets/img/OC.jpg" class="own-character shadow-sm mb-3" alt="own-photo">
    <h6 class="asap bold text-white fz-26 txt-shadow">Jean Lui Ferrer</h6>
    <span class="asap text-white fz-16 txt-shadow">Desarrollador Front End</span>
  </div>
  <div class="description-container shadow">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 py-4 py-md-0">
          <h3 class="asap bold txt-grey fz-25 mb-4">Sobre mí</h3>
          <p class="asap fz-16 text-justify">
            Yevgeniy (Jim) Brikman loves programming, writing, speaking, traveling, and lifting heavy things. He does
            not love talking about himself in the 3rd person. He is the co-founder of Gruntwork, a company that provides
            DevOps as a Service. He's also the author of two books published by O'Reilly Media: Hello, Startup and
            Terraform: Up & Running. Previously, he spent more than a decade building infrastructure and products that
            served hundreds of millions of users while working as a software engineer at LinkedIn, TripAdvisor, Cisco
            Systems, and Thomson Financial. For more info, check out his writing, speaking, projects, and photos.
          </p>
        </div>
        <div class="col-12 col-md-3 py-4 py-md-0">
          <h3 class="asap bold txt-grey fz-25 mb-4">Contacto</h3>
          <div class="d-flex flex-column">
            <i class="fa fa-twitter d-flex align-items-center">
              <span class="asap fz-16 bold mx-2"> Twitter/Jeanlui21</span>
            </i>
            <i class="fa fa-linkedin-square d-flex align-items-center">
              <span class="asap fz-16 bold mx-2">Linkedin/Jeanlui21</span>
            </i>
            <i class="fa fa-github-square d-flex align-items-center">
              <span class="asap fz-16 bold mx-2">Github/Luiii21</span>
            </i>
            <i class="fa fa-phone d-flex align-items-center">
              <span class="asap fz-16 bold mx-2">+51 953889330</span>
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
